.card_cont {
  border: 1px solid #093a3e;
  display: block;
  border-radius: 25px;
  .user_card {
    display: inline-block;
    padding: 0px;
    max-width: 300px;
    width: 100%;
    margin-right: auto;
    margin: 0;
    p {
      padding: 0 15px;
    }
  }
}
